.catalog {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

.filterContainer {
  margin-bottom: 20px;
}

.camperCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 2em;
  color: #333;
}
