.navList {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 2px solid #f2f4f7;
}
.navItem {
  padding: 10px 20px;
}
.navLink {
  text-decoration: none;
  color: #475467;
  font-weight: bold;
}

.navLink:hover {
  color: #e44848;
}
