.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  width: 868px;
  display: flex;
  font-family: Arial, sans-serif;
}

.image {
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 63%;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-size: 1.25em;
  font-weight: bold;
}

.cardPrice {
  font-size: 1.25em;
  color: #e67e22;
}

.cardRatingLocation {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.cardRating {
  font-size: 0.9em;
  color: #555;
}

.cardLocation {
  font-size: 0.9em;
  color: #555;
}

.cardDescription {
  font-size: 0.95em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.cardDetail {
  font-size: 0.9em;
}

.detailLabel {
  font-weight: bold;
  color: #555;
}
.card button {
  /* background: none; */
  border: none;
  cursor: pointer;
}

.card button svg {
  width: 24px;
  height: 24px;
}
.moreButton {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background-color: #e44848;
  width: 166px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.moreButton:hover {
  background-color: #d84343;
}
